
.slieder2area {
	padding:  0px !important;
	margin: 0px !important;
	background-color: #F2F2F2;
	height: 200px;
	z-index: 50;


	
}
.slidermain2holder{
	position: relative;	
	overflow: hidden;
	height: 200px;
	

}

.slider2holder{
	
	position: relative;	
	background-color: chartreuse;
	max-height: 200px;
	


}





.slider2holder img{
	
padding-top: 25px;
	max-height: 150px;


}
@media (min-width: 1200px) {

	.slider2holder{
		width: 20%;
	}
}	